@define-color foreground #eff0f1;
@define-color foreground-inactive #7f8c8d;
@define-color background #232629;
@define-color background-alt #31363b;

* {
    font-family: "Mononoki Nerd Font", "JetBrainsMono Nerd Font", "NotoSansMono", sans-serif;
    font-size: 17px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    padding-left: 1em;
    padding-right: 1.3em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#workspaces button.active {
    background-color: @background-alt;
    border-radius: 3px;
}

#wireplumber,
#tray,
#group-usage,
#group-net,
#custom-notification {
    background-color: @background-alt;
    border-radius: 3px;
    padding-left: 0.6em;
    padding-right: 0.6em;
    margin-left: 0.4em;
    margin-right: 0.4em;
}

#battery,
#memory,
#language,
#network,
#bluetooth,
#backlight,
#temperature {
    margin-left: 0.4em;
    margin-right: 0.4em;
}

#custom-capslock {
    color: #ff5555;
    margin-left: 0.4em;
    margin-right: 0.2em;
}

#custom-notification:hover {
    background-color: shade(@background-alt, 1.2);
}
